.scopes-page {
  width: 550px;
  margin: 0 auto;
  display: inline-block;
  font-size: 0;
}

.scopes-page header {
  text-align: left;
  display: inline-block;
}

.scopes-page header img {
  width: 55px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.scopes-page header h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.scopes-page .header-text {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 75px);
}

.scopes-page .header-description {
  margin: 0;
}

.scopes-page .scope-box {
  list-style: none;
  margin: 40px auto 0;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.scopes-page .scope-box li {
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
}

.scopes-page .scope-icon {
  width: 53px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  padding: 10px 0 11px 0;
  background: linear-gradient(135deg, #397AE1 0%, #397AE1 50%, #4285f4 50%, #4285f4 100%);
}

.scopes-page .scope-icon img {
  width: 60%;
}

.scopes-page .scope-text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 80px);
  font-size: 13px;
}

.scopes-page .scope-text p {
  margin: 0;
}

.scopes-page .scope-name {
  font-size: 13px;
  margin: 0 0 8px 0;
}

.scopes-page .buttons {
  text-align: right;
  margin: 30px 0 0 0;
}

.buttons button {
  margin-left: 10px;
}